* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(wall.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center center;
}
#dClock {
  margin: auto;
  margin-top: 3vh;
  background-image: url(clock_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70vh;
  border-radius: 30px;
  border: 5px solid #20290a;
  text-align: center;
  box-shadow: 10px 10px 5px lightblue
}
#dClock h1 {
  display: inline-block;
  color: #20290a;
}
#dClock h2 {
  display: inline-block;
  color: #20290a;
}
#clock {
  position: relative;
  margin: auto;
  margin-top: 3vh;
  width: 70vh;
  height: 70vh;
  background-image: url(clock_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 20px solid #20290a;
  box-shadow: 10px 10px 5px lightblue
}
#center {
  position: absolute;
  margin: 33.3vh;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  background-color: tomato;
  z-index: 10;
}
#hour {
  position: absolute;
  margin-left: 49%;
  margin-top: 21%;
  background-color: #20290a;
  border-radius: 50px;
  width: 3%;
  height: 30%;
  transform-origin: bottom;
}
#min {
  position: absolute;
  margin-left: 49.45%;
  margin-top: 11%;
  background-color: #20290a;
  border-radius: 50px;
  width: 2%;
  height: 40%;
  transform-origin: bottom;
}
#sec {
  position: absolute;
  margin-left: 50%;
  margin-top: 6%;
  background-color: tomato;
  width: 1%;
  height: 45%;
  z-index: 9;
  transform-origin: bottom;
}
#N12 {
  position: absolute;
  color: #20290a;
  margin-top: 1%;
  margin-left: 46%;
  font-size: 250%;
}
#N3 {
  position: absolute;
  color: #20290a;
  margin-top: 45%;
  margin-left: 94%;
  font-size: 250%;
}
#N6 {
  position: absolute;
  color: #20290a;
  margin-top: 89%;
  margin-left: 48%;
  font-size: 250%;
}

#N9 {
  position: absolute;
  color: #20290a;
  margin-top: 45%;
  margin-left: 2%;
  font-size: 250%;
}
#N1 {
  position: absolute;
  background-color: #20290a;
  rotate: 30deg;
  width: 1%;
  height: 8%;
  margin-top: 6.5%;
  margin-left: 73%;
}
#N2 {
  position: absolute;
  background-color: #20290a;
  rotate: 60deg;
  width: 1%;
  height: 8%;
  margin-top: 23.4%;
  margin-left: 90%;
}
#N4 {
  position: absolute;
  background-color: #20290a;
  rotate: 120deg;
  width: 1%;
  height: 8%;
  margin-top: 69.7%;
  margin-left: 89%;
}
#N5 {
  position: absolute;
  background-color: #20290a;
  rotate: 150deg;
  width: 1%;
  height: 8%;
  margin-top: 86%;
  margin-left: 72.8%;
}
#N7 {
  position: absolute;
  background-color: #20290a;
  rotate: 30deg;
  width: 1%;
  height: 8%;
  margin-top: 86%;
  margin-left: 26.5%;
}
#N8 {
  position: absolute;
  background-color: #20290a;
  rotate: 60deg;
  width: 1%;
  height: 8%;
  margin-top: 70.2%;
  margin-left: 10.2%;
}
#N10 {
  position: absolute;
  background-color: #20290a;
  rotate: 120deg;
  width: 1%;
  height: 8%;
  margin-top: 23.2%;
  margin-left: 9.4%;
}
#N11 {
  position: absolute;
  background-color: #20290a;
  rotate: 150deg;
  width: 1%;
  height: 8%;
  margin-top: 5.8%;
  margin-left: 26.6%;
}
