* {
    padding: 0;
    margin: 0;
}
.cover {
    height: 100vh;
    padding: 50px;
    background-image: url(images/cover-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.cover-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    height: fit-content;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.line {
    border-top: 1px solid lightgray;
}
.btn-use-temp {
    width: 100%;
}
#form-section,
#info-section,
#experience-section,
#education-section,
#skill-section,
#language-section {
    display: none;
    visibility: hidden;
}
.fade-in {
    animation: fade-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes fade-in {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
.slide-out {
    animation: slide-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes slide-out {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-1100px);
        opacity: 0;
    }
}
.rotate-open {
    animation: rotate-open 0.5s ease-in-out both;
}
@keyframes rotate-open {
    100% {
        transform: rotate(180deg);
    }
}
.rotate-close {
    animation: rotate-close 0.5s ease-in-out both;
}
@keyframes rotate-close {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
