.menu-item {
    background-color: #f6f6f6;
    margin: 1px 0px;
    line-height: 30px;
    padding-left: 20px;
}

.menu-item:hover {
    background-color: #ededed;
    color: black;
}
.menu-social {
    height: 200px;
    background-color: #f6f6f6;
}
