.nav {
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 20px 0px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
}
.nav_span {
    font-size: 13px;
    color: #ccccd6;
}
.arrow {
    width: 12px;
    height: 12px;
}
