* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
}
.bg_header {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: #817461;
  width: 100%;
  height: 400px;
}
header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  padding: 70px 50px;
  width: auto;
  height: 400px;
}
.logo_div {
  padding-left: 100px;
  width: 100%;
}
.logo {
  display: inline-block;
  width: 100px;
}
.title {
  display: inline-block;
}

.title h5 {
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 500;
}
.title h5 span {
  font-family: "Times New Roman", Times, serif;
  color: #c1af71;
}
.title p {
  font-family: sans-serif;
  color: white;
  text-align: right;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
}
nav {
  display: inline-block;
  align-self: flex-end;
  opacity: 0.9;
}
nav ul {
  padding: 0px 20px;
  list-style: none;
  display: inline-block;
  background-color: #4e4741;
  border-radius: 15px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin: 20px 10px 20px 10px;
  color: white;
}
.vertical_line {
  display: inline-block;
  height: 25px;
  margin-bottom: -8px;
  border-left: 1px solid #161513;
}
.banner {
  width: 100%;
  height: 400px;
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.banner .content {
  align-content: flex-end;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(114, 110, 98, 0.5);
  width: 500px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 35%;
  color: white;
}
.banner .content h1 {
  padding: 30px;
  font-weight: bold;
}
.banner .content p {
  padding: 0px 30px 0px 30px;
  text-align: justify;
  font-size: 18px;
}
.content button {
  margin-top: 5%;
  margin-left: 315px;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 15px;
  background-color: #9f7133;
  font-size: 18px;
  font-weight: 100;
  box-shadow: 1px 1px 5px #161513;
  text-shadow: 1px 1px 5px #161513;
}
.content button:hover {
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 15px;
  background-color: #886231;
  font-size: 18px;
  font-weight: 100;
  box-shadow: 1px 1px 5px #161513;
  text-shadow: 1px 1px 5px #161513;
}
.rectangles {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.rectangle {
  display: inline-block;
  width: 400px;
  margin: 10px 0px;
  border-radius: 70px;
  height: 930px;
  box-shadow: 1px 1px 3px 1px #7a766f;
  text-align: center;
}
.rectangles p {
  padding: 15px;
  line-height: 20px;
  text-align: justify;
}
.rectangles button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 200px;
  color: white;
  border-radius: 20px;
  background-color: #956f30;
  border: none;
}
.rectangles img {
  padding: 15px;
}
.rectangles h2 {
  margin-top: 35px;
  margin-left: 5%;
  width: 90%;
  line-height: 50px;
  height: 50px;
  color: white;
  font-weight: 500;
}
.rectangle1 h2 {
  background-color: #c42d24;
}
.rectangle2 h2 {
  background-color: #886231;
}
.rectangle3 h2 {
  background-color: #3c659d;
}
footer {
  display: inline-block;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  margin-top: 50px;
  height: auto;
  width: 100%;
}
.bg_footer {
  z-index: 1;
  margin-top: auto;
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  width: 100%;
  height: 250px;
  background-color: #dddac7;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 95%;
  height: auto;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #827562;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}
.footer div {
  display: inline-block;
  width: 250px;
  padding: 25px;
  height: max-content;
}
.footer .div5 {
  width: 100%;
}
.footer p {
  color: white;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}
.footer h2 {
  color: white;
  margin-bottom: 15px;
}
footer div form {
  height: 250;
}
footer div form input {
  width: 80%;
  padding: 8px;
  margin: 5px 0px;
  height: 12px;
}
footer div form button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 118px;
  background-color: #f2cc05;
  border: none;
}
