* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  font-family: sans-serif;
}
header {
  position: relative;
  background-color: #837663;
  width: 100%;
  height: 400px;
}
.logo_div {
  position: absolute;
  display: inline-block;
  left: 60px;
  top: 20px;
}
.logo {
  display: inline-block;
  width: 100px;
}
.title {
  display: inline-block;
}

.title h5 {
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 500;
}
.title h5 span {
  font-family: "Times New Roman", Times, serif;
  color: #c1af71;
}
.title p {
  position: relative;
  left: 180px;
  font-family: sans-serif;
  color: white;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
}
nav {
  position: absolute;
  display: inline-block;
  right: 60px;
  top: 90px;
  opacity: 0.9;
}
nav ul {
  padding: 0px 20px;
  list-style: none;
  display: inline-block;
  background-color: #4e4741;
  border-radius: 15px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin: 20px 10px 20px 10px;
  color: white;
}
.vertical_line {
  display: inline-block;
  height: 25px;
  margin-bottom: -8px;
  border-left: 1px solid #161513;
}
.banner {
  position: absolute;
  top: 150px;
  margin: 0px 60px;
  width: 91%;
  height: 400px;
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
.banner .color {
  position: absolute;
  display: inline-block;
  background-color: #4e4741;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 35%;
  opacity: 0.7;
  font-family: "Times New Roman", Times, serif;
}
.banner .content {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  color: white;
  width: 40%;
  height: 100%;
}
.banner .content h1 {
  padding: 30px;
  font-weight: bold;
}
.banner .content p {
  padding: 0px 30px 0px 30px;
  text-align: justify;
  font-size: 18px;
}
.content button {
  margin-top: 100px;
  margin-left: 300px;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 15px;
  background-color: #9f7133;
  font-size: 18px;
  font-weight: 100;
  box-shadow: 1px 1px 5px #161513;
  text-shadow: 1px 1px 5px #161513;
}
.content button:hover {
  margin-top: 100px;
  margin-left: 300px;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 15px;
  background-color: #886231;
  font-size: 18px;
  font-weight: 100;
  box-shadow: 1px 1px 5px #161513;
  text-shadow: 1px 1px 5px #161513;
}
.rectangles {
  position: relative;
  top: 170px;
  height: 850px;
}
.rectangle {
  position: absolute;
  display: inline-block;
  width: 25vw;
  margin: 15px;
  border-radius: 70px;
  height: inherit;
  box-shadow: 1px 1px 3px 1px #7a766f;
  text-align: center;
}
.rectangles p {
  padding: 15px;
  line-height: 20px;
  text-align: justify;
}
.rectangles button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 200px;
  color: white;
  border-radius: 20px;
  background-color: #956f30;
  border: none;
}
.rectangle1 {
  left: 8%;
}
.rectangle2 {
  left: 35%;
}
.rectangle3 {
  left: 62%;
}
.rectangles img {
  padding: 15px;
}
.rectangles h2 {
  margin-top: 35px;
  margin-left: 5%;
  width: 90%;
  line-height: 50px;
  height: 50px;
  color: white;
  font-weight: 500;
}
.rectangle1 h2 {
  background-color: #c42d24;
}
.rectangle2 h2 {
  background-color: #886231;
}
.rectangle3 h2 {
  background-color: #3c659d;
}

.rectangle2 p {
 /* padding: 15px 15px 15px 0px; */
}

footer {
  position: relative;
  top: 250px;
  height: 350px;
}
.bg_footer {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  width: 100%;
  height: 250px;
  background-color: #dddac7;
}
.footer {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  margin-left: 2.5%;
  width: 95%;
  height: inherit;
  background-color: #827562;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}
.footer div {
  display: inline-block;
  width: 20%;
  margin-top: 60px;
  padding: 25px;
  height: 200px;
}
footer .div1 {
  margin-left: 1.5%;
}
footer .div5 {
  position: relative;
  top: -100px;
  display: block;
  height: 10px;
  width: 80%;
  margin-left: 1.5%;
}
.footer p {
  color: white;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}
.footer h2 {
  color: white;
  margin-bottom: 15px;
}
footer div form {
  height: 250;
}
footer div form input {
  width: 80%;
  padding: 8px;
  margin: 5px 0px;
  height: 12px;
}
footer div form button {
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 118px;
  background-color: #f2cc05;
  border: none;
}
