* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Helvetica, sans-serif;
  color: white;
}
.container-fluid {
  position: absolute;
  height: 100%;
  padding: 10px;
  min-width: 1080px;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.col-sm-5,
.col-sm-3 {
  /* border: 1px solid brown; */
}
.my-player-container {
  width: 100%;
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.score {
  background-image: url(images/name-board-hanging.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column: span 2;
}
.turn {
  grid-column: span 2;
}
.player-name {
  background-image: url(images/name-board-arrowL.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column: span 2;
}
.R {
  background-image: url(images/name-board-arrowR.png);
}
.my-container {
  width: 100%;
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.ropeL,
.ropeR {
  background-image: url(images/rope.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.ropeL {
  margin-left: 40%;
}
.ropeR {
  margin-right: 40%;
}
.game-board {
  background-image: url(images/game-board.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column: span 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0% 25%;
}
.OX {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 16%;
}
