.banner_form_section {
    background-color: #e2e2e2;
}
.banner_image {
    background-color: #e2e2e2;
}
.banner_form {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.banner_form h3 {
    font-weight: 600;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.banner_form h4 {
    font-weight: 100;
    font-size: 11px;
    color: #737373;
    padding: 0;
    margin: 0;
}
.sign-up-input {
    display: flex;
}
.sign-up_btn {
    display: inline-block;
    color: white;
    background: black;
    border: none;
    align-items: right;
    width: 30%;
    height: 38px;
    font-size: 11px;
    cursor: pointer;
}
.field {
    font-family: inherit;
    height: 38px;
    width: 70%;
    border: 0.5px solid #d9d9d9;
    box-sizing: border-box;
}
