* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
}
.top_marquee {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 13px;
  letter-spacing: 0.05rem;
  font-weight: 800;
}
.marquee {
  display: inline-block;
  width: 100%;
}
.menu_div {
  width: 100%;
  padding: 20px 0px;
}
.menu {
  width: 98%;
  text-align: center;
  vertical-align: middle;
}
.menu_icon_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.bg_image {
  display: flex;
  align-items: flex-end;
  align-content: center;
  background-image: url(images/main_slider.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 650px;
  justify-content: center;
}
button {
  display: block;
  color: white;
  background: black;
  border: none;
  align-items: right;
  margin: 30px 0px 100px 0px;
  width: 130px;
  font-weight: 600;
  height: 45px;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  margin: 50px 140px;
  height: 1450px;
}
.card_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h5 {
  padding: 18px 0px;
  color: #616161;
  font-size: 16px;
  font-weight: 700;
}
.shop_a {
  font-size: 13px;
  font-family: inherit;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: black;
}
.banner {
  grid-column: span 3;
  display: grid;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 370px;
}
.banner_image {
  background-image: url(images/Style_Banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.banner_image h1 {
  font-size: 46px;
  padding-bottom: 10px;
  color: white;
}
.banner_image p {
  font-weight: normal;
  text-decoration: underline;
}
.banner_form {
  background-color: #d7d7d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_form h3 {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 20px;
}
.banner_form h4 {
    font-weight: 100;
    font-size: 11px;
    color: #737373;
    padding-bottom: 20px;
}
.sign-up_btn {
  display: inline-block;
  color: white;
  background: black;
  border: none;
  align-items: right;
  margin: 30px 0px 30px 0px;
  padding: 0px 10px;
  width: 100px;
  height: 38px;
  cursor: pointer;
}
.field {
  font-family: inherit;
  height: 40px;
  width: 280px;
  border: 0.5px solid #d9d9d9;
  padding: 0px 10px 0px 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
.foot1 {
  font-family: inherit;
  padding: 0px 150px;
  font-size: 13px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}
.ver_bar {
  height: 12px;
  display: inline-block;
  border-left: 1px solid #d9d9d9;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
a,
li {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: #737373;
  list-style: none;
}
.social_icons {
  padding-top: 12px;
}
.foot2 {
  color: white;
  padding-top: 13px;
  text-align: center;
  height: 35px;
  background-color: black;
}
span {
  font-family: inherit;
  font-size: 11px;
  letter-spacing: 0.05rem;
}
