footer .foot1 {
    margin-top: 30px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f8fd;
}
footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
footer a {
    display: inline-block;
    text-decoration: none;
    color: #737373;
    list-style: none;
    margin: 10px 5px;
    cursor: pointer;
}
footer .social_icons {
    margin-top: 12px;
}
footer .foot2 {
    color: white;
    height: 45px;
    background-color: #0098cd;
}
footer span {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 45px;
    font-weight: 600;
}
footer .row {
    width: 100%;
}
footer h3 {
    color: #0098cd;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 4px;
    margin-bottom: 20px;
}
footer .col {
    padding: 0px 28px;
}
footer p {
    color: #555659;
    cursor: pointer;
    font-size: 17px;
}
footer p:hover {
    color: #0098cd;
}
footer .social-icon {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #0098cd;
    height: 50px;
    width: 50px;
    transition: background-color 0.5s ease;
    transition: background-image 0.5s ease;
}
footer .social-icon:hover {
    background-color: #0098cd;
}
footer .fb-icon {
    background-image: url(images/icons8_facebook_f_64px_1.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}
footer .fb-icon:hover {
    background-image: url(images/icons8_facebook_f_64px_2.png);
}
footer .in-icon {
    background-image: url(images/icons8_linkedin_2_64px_1.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}
footer .in-icon:hover {
    background-image: url(images/icons8_linkedin_2_64px_2.png);
}
footer .instagram-icon {
    background-image: url(images/icons8_Instagram_64px.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}
footer .instagram-icon:hover {
    background-image: url(images/icons8_Instagram_64px_2.png);
}
footer .whatsapp-icon {
    background-image: url(images/icons8_whatsapp_64px.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}
footer .whatsapp-icon:hover {
    background-image: url(images/icons8_whatsapp_64px_2.png);
}